body{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lavender;

}
#calculator{
    background-color:darkslategray;
    border-radius: 15px;
    max-width: 500px;
    height: 100%;
    overflow: hidden;
}
#display{
    width: 100%;
    padding: 2px;
    font-size: 4rem;
    text-align: left;
    border: none;
    background-color: aliceblue;
}
#keys{
    display: grid;
    grid-template-columns:repeat(4,1fr) ;
    gap: 10px;
    padding:8px ;
}

button{
    width: 80px;
    height: 80px;
    border-radius: 50px;
    background-color: darkgray;
    font-size: 2.5rem;
    font-weight: bold;
    cursor: pointer;
    
}
button:hover{
    background-color: grey;
}
button:active{
    background-color: lightgray;
}
.operator{
    background-color: orangered;
}
.operator:hover{
    background-color: orange;
}
 


*.operator:active{
    background-color: yellow;
}